{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }]
  },
  "overrides": [
    {
      "files": [ "*.spec.js", "*.test.js" ],
      "env": {
        "jest": true
      }
    }
  ]
}